*.class
*.json
.metadata
*.swp

BOLDApp/tmp
BOLDApp/bin
BOLDApp/gen

BOLDApp/mnt/sdcard/bold
server/public/

.DS_Store
**/.DS_Store

local.properties

/web/example

BOLDApp/tests/bin
BOLDApp/tests/gen
BOLDApp/tests/local.properties

**/bin/*
**/gen/*
