*.class
*.json
aikuma-cloud-storage-*.jar
.metadata
*.swp
*~

server/public/

.DS_Store
**/.DS_Store

local.properties

/web/example

**/bin/*
**/gen/*
**/test/bin/*
**/test/gen/*

**/.idea/*
*.iml
**/out/*
