<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.lp20.aikuma2"
      android:versionCode="010005"
      android:versionName="0.8.4">
	<uses-sdk android:minSdkVersion="14"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" />
    <application android:label="@string/app_name"
			android:name="org.lp20.aikuma.Aikuma"
			android:theme="@style/MyTheme"
			android:icon="@drawable/ic_launcher">
		<meta-data
    		android:name="com.google.android.gms.version"
    		android:value="@integer/google_play_services_version" />
		<receiver android:name="org.lp20.aikuma.service.BootReceiver" >
		    <intent-filter>
		        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
		    </intent-filter>
		</receiver>
		<activity android:name="org.lp20.aikuma.MainActivity"
				android:label="@string/app_name"
				android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="org.lp20.aikuma.ui.ListenActivity"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.ListenRespeakingActivity"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.CloudSearchActivity"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.RecordActivity"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.RecordVideoActivity"
		    	android:configChanges="orientation"
				
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.SettingsActivity"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.RecordingMetadataActivity1"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.RecordingMetadataActivity2"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.RecordingMetadataActivity3"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.RecordingMetadataActivity4"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.LanguageFilterList"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.RecordingSpeakersActivity"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.MainSpeakersActivity"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.AddSpeakerActivity1"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.AddSpeakerActivity2"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.AddSpeakerActivity3"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.AddSpeakerActivity4"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.ThumbRespeakActivity"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.PhoneRespeakActivity"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.AddCustomLanguageActivity"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.DefaultLanguagesActivity"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.CloudSettingsActivity"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.SyncSettingsActivity"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.AboutActivity"
				android:configChanges="orientation"
				android:label="@string/app_name"
				android:parentActivityName="org.lp20.aikuma.MainActivity">
		</activity>
		<activity android:name="org.lp20.aikuma.ui.HttpServerActivity"
				android:label="@string/http_server_activity_title"
				android:parentActivityName="org.lp20.aikuma.MainActivity" >
				<meta-data android:name="android.support.PARENT_ACTIVITY"
					android:value="org.lp20.aikuma.MainActivity" />
		</activity>
		<activity android:name="org.lp20.aikuma.ui.HowtoActivity"
				android:label="@string/http_server_activity_title"
				android:parentActivityName="org.lp20.aikuma.MainActivity" >
				<meta-data android:name="android.support.PARENT_ACTIVITY"
					android:value="org.lp20.aikuma.MainActivity" />
		</activity>
		<activity android:name="org.lp20.aikuma.ui.DebugInfo"
				android:label="@string/title_activity_debug_info"
				android:parentActivityName=".AikumaActivity" >
				<meta-data android:name="android.support.PARENT_ACTIVITY"
					android:value="AikumaActivity" />
		</activity>

		<service android:name="org.lp20.aikuma.service.GoogleCloudService" />
    </application>

</manifest>
