<?xml version="1.0" encoding="utf-8"?>
<manifest package="au.edu.melbuni.boldapp"
      android:versionCode="1"
      android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
<application android:icon="@drawable/icon" android:label="@string/app_name" android:name="BoldApplication">
        <activity android:name=".activities.MainActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.OriginalSelectionActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".activities.RecordActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".activities.ListenActivity" android:screenOrientation="landscape"></activity>
        <activity android:screenOrientation="landscape" android:name=".activities.UserSelectionActivity"></activity>
        <activity android:name=".activities.CameraActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".activities.EditUserActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".activities.InformedConsentConfirmActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".activities.InformedConsentAudioActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".activities.InformedConsentNameActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".activities.InformedConsentPhotoActivity" android:screenOrientation="landscape"></activity>
        <activity android:screenOrientation="sensorLandscape" android:name=".activities.RespeakActivity">
        </activity>
        <activity android:screenOrientation="landscape" android:name=".activities.TranscribeActivity"></activity>
        <activity android:screenOrientation="landscape" android:name=".activities.OldRespeakActivity"></activity>
    </application>
</manifest>