<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="au.edu.unimelb.boldapp"
		android:versionCode="1"
		android:versionName="1.0">
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-feature android:required="false"
			android:name="android.hardware.camera"/>
	<application>
		<!-- android:label="@string/app_name" -->
		<activity android:name="MainActivity"
				android:screenOrientation="portrait"
				android:label="@string/app_name"
				android:theme="@android:style/Theme.NoTitleBar"
		>
		</activity>
		<activity android:name="RecordActivity"
				android:screenOrientation="portrait"
				android:label="@string/app_name"
				android:theme="@android:style/Theme.NoTitleBar"
		/>
		<activity android:name="RespeakActivity"
				android:screenOrientation="portrait"
				android:label="@string/app_name"
				android:theme="@android:style/Theme.NoTitleBar"
		/>
		<activity android:name="InitialUserSelectionActivity"
				android:screenOrientation="portrait"
				android:label="@string/app_name"
				android:theme="@android:style/Theme.NoTitleBar"
				>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="UserListActivity"
				android:screenOrientation="portrait"
				android:theme="@android:style/Theme.NoTitleBar"
				android:label="@string/app_name"/>
		<activity android:name="RecordingSelectionActivity"
				android:screenOrientation="portrait"
				android:theme="@android:style/Theme.NoTitleBar"
				android:label="@string/app_name"/>
		<activity android:name="CreateUserActivity"
				android:screenOrientation="portrait"
				android:theme="@android:style/Theme.NoTitleBar"
				android:label="@string/app_name"/>
		<activity android:name="SaveActivity"
				android:screenOrientation="portrait"
				android:theme="@android:style/Theme.NoTitleBar"
				android:label="@string/app_name"/>
		<activity android:name="UserSelectionActivity"
				android:screenOrientation="portrait"
				android:theme="@android:style/Theme.NoTitleBar"
				android:label="@string/app_name"/>
		<activity android:name="ListenActivity"
				android:screenOrientation="portrait"
				android:theme="@android:style/Theme.NoTitleBar"
				android:label="@string/app_name"/>
		<activity android:name="TranslateActivity"
				android:screenOrientation="portrait"
				android:theme="@android:style/Theme.NoTitleBar"
				android:label="@string/app_name"/>
		<activity android:name="InterleavedChoiceActivity"
				android:screenOrientation="portrait"
				android:theme="@android:style/Theme.NoTitleBar"
				android:label="@string/app_name"/>
		<activity android:name="SyncActivity"
				android:screenOrientation="portrait"
				android:theme="@android:style/Theme.NoTitleBar"
				android:label="@string/app_name"/>
	</application>
</manifest> 
