<?xml version="1.0" encoding="utf-8"?>
<manifest package="au.edu.melbuni.boldapp"
      android:versionCode="1"
      android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.CAMERA"></uses-permission>
<application android:icon="@drawable/icon" android:label="@string/app_name" android:name="BoldApplication">
        <activity android:name=".activities.MainActivity" android:label="@string/app_name" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.OriginalSelectionActivity" android:label="@string/app_name" android:screenOrientation="landscape"></activity>
        <activity android:name=".activities.RecordActivity" android:label="@string/app_name" android:screenOrientation="landscape"></activity>
        <activity android:name=".activities.ListenActivity" android:label="@string/app_name" android:screenOrientation="landscape"></activity>
        <activity android:screenOrientation="landscape" android:name=".activities.UserSelectionActivity" android:label="@string/app_name"></activity>
        <activity android:name=".activities.CameraActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".activities.EditUserActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".activities.InformedConsentConfirmActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".activities.InformedConsent1InfoActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".activities.InformedConsent2AudioActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".activities.InformedConsent3PhotoActivity" android:screenOrientation="landscape"></activity>
    </application>
</manifest>